In [1]:
import numpy as np
import pandas as pd
import seaborn as sns

In [2]:
import matplotlib.pyplot as plt
%matplotlib inline

In [3]:
data = pd.read_csv("data/season-0910_csv.csv")

In [4]:
data.head()

,Div,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,HTR,...,BbMx>2.5,BbAv>2.5,BbMx<2.5,BbAv<2.5,BbAH,BbAHh,BbMxAHH,BbAvAHH,BbMxAHA,BbAvAHA
0,SP1,2009-08-29,Real Madrid,La Coruna,3,2,H,2,1,H,...,1.52,1.48,2.90,2.53,19,0.0,9.00,1.92,11.00,8.69
1,SP1,2009-08-29,Zaragoza,Tenerife,1,0,H,0,0,D,...,2.08,1.97,1.91,1.79,18,0.0,1.38,1.36,3.20,3.01
2,SP1,2009-08-30,Almeria,Valladolid,0,0,D,0,0,D,...,2.16,2.02,1.83,1.74,19,0.0,1.62,1.54,2.54,2.41
3,SP1,2009-08-30,Ath Bilbao,Espanol,1,0,H,0,0,D,...,2.15,2.02,1.81,1.74,19,0.0,1.66,1.58,2.47,2.30
4,SP1,2009-08-30,Malaga,Ath Madrid,3,0,H,1,0,H,...,1.85,1.80,2.13,1.96,18,0.0,2.60,2.45,1.58,1.51

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 380 entries, 0 to 379
Data columns (total 70 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Div       380 non-null    object
 1   Date      380 non-null    object
 2   HomeTeam  380 non-null    object
 3   AwayTeam  380 non-null    object
 4   FTHG      380 non-null    int64
 5   FTAG      380 non-null    int64
 6   FTR       380 non-null    object
 7   HTHG      380 non-null    int64
 8   HTAG      380 non-null    int64
 9   HTR       380 non-null    object
 10  HS        380 non-null    int64
 11  AS        380 non-null    int64
 12  HST       380 non-null    int64
 13  AST       380 non-null    int64
 14  HF        380 non-null    int64
 15  AF        380 non-null    int64
 16  HC        380 non-null    int64
 17  AC        380 non-null    int64
 18  HY        380 non-null    int64
 19  AY        380 non-null    int64
 20  HR        380 non-null    int64
 21  AR        380 non-null    int64
 22  B365H     380 non-null    float64
 23  B365D     380 non-null    float64
 24  B365A     380 non-null    float64
 25  BWH       380 non-null    float64
 26  BWD       380 non-null    float64
 27  BWA       380 non-null    float64
 28  GBH       380 non-null    float64
 29  GBD       380 non-null    float64
 30  GBA       380 non-null    float64
 31  IWH       380 non-null    float64
 32  IWD       380 non-null    float64
 33  IWA       380 non-null    float64
 34  LBH       380 non-null    float64
 35  LBD       380 non-null    float64
 36  LBA       380 non-null    float64
 37  SBH       380 non-null    float64
 38  SBD       380 non-null    float64
 39  SBA       380 non-null    float64
 40  WHH       380 non-null    float64
 41  WHD       380 non-null    float64
 42  WHA       380 non-null    float64
 43  SJH       380 non-null    float64
 44  SJD       380 non-null    float64
 45  SJA       380 non-null    float64
 46  VCH       380 non-null    float64
 47  VCD       380 non-null    float64
 48  VCA       380 non-null    float64
 49  BSH       380 non-null    float64
 50  BSD       380 non-null    float64
 51  BSA       380 non-null    float64
 52  Bb1X2     380 non-null    int64
 53  BbMxH     380 non-null    float64
 54  BbAvH     380 non-null    float64
 55  BbMxD     380 non-null    float64
 56  BbAvD     380 non-null    float64
 57  BbMxA     380 non-null    float64
 58  BbAvA     380 non-null    float64
 59  BbOU      380 non-null    int64
 60  BbMx>2.5  379 non-null    float64
 61  BbAv>2.5  379 non-null    float64
 62  BbMx<2.5  379 non-null    float64
 63  BbAv<2.5  379 non-null    float64
 64  BbAH      380 non-null    int64
 65  BbAHh     380 non-null    float64
 66  BbMxAHH   380 non-null    float64
 67  BbAvAHH   380 non-null    float64
 68  BbMxAHA   380 non-null    float64
 69  BbAvAHA   380 non-null    float64
dtypes: float64(45), int64(19), object(6)
memory usage: 199.0+ KB

In [6]:
data["Date"] = pd.to_datetime(data["Date"])

In [7]:
#average goal per match for each game played
data["AVGGPM"] = (data["FTHG"] + data["FTAG"]) / 2

In [8]:
data[data["FTAG"] == data["FTAG"].max()]

,Div,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,HTR,...,BbAv>2.5,BbMx<2.5,BbAv<2.5,BbAH,BbAHh,BbMxAHH,BbAvAHH,BbMxAHA,BbAvAHA,AVGGPM
168,SP1,2010-01-10,Tenerife,Barcelona,0,5,A,0,3,A,...,1.60,2.35,2.23,20,0.0,6.63,5.58,1.14,1.12,2.5
232,SP1,2010-02-27,Tenerife,Real Madrid,1,5,A,0,2,A,...,1.54,2.43,2.34,24,1.5,2.12,2.04,1.86,1.82,3.0
358,SP1,2010-05-05,Santander,Sevilla,1,5,A,0,2,A,...,1.92,1.92,1.84,19,0.0,2.45,2.25,1.67,1.59,3.0

In [9]:
group = data.groupby(["FTR"]).sum()

In [30]:
def extract_team(df: pd.DataFrame, source: str, col: str, name: str,mode: str="H") -> int:
    """extracts a team from a column
       
       df: the dataframe we want to extract the team -> pandas DataFrame

       source: the name of the column we want to split the dataframe from -> str

       col: the name of the column we wish to extract from -> str
       
       name: the name of the team we want to extract -> str
    """
    matches = df[df[source] == name]
    modes = matches[col]
    res = 0
    for item in modes:
        if item == mode:
            res += 1
    return res

In [96]:
home_wins = []
names = data["HomeTeam"].unique()
for name in names:
    home_wins.append(extract_team(data,"HomeTeam","FTR",name))

In [132]:
away_wins = []
fin = data["AwayTeam"].unique()
for away in names:
    away_wins.append(extract_team(data,"AwayTeam","FTR",away,"H"))

In [133]:
away_wins

[3, 11, 11, 10, 9, 9, 13, 7, 8, 1, 12, 12, 10, 10, 11, 11, 15, 9, 11, 11]

In [134]:
for row,item in enumerate(names):
    print(item,away_wins[row],home_wins[row])

Real Madrid 3 18
Zaragoza 11 7
Almeria 11 8
Ath Bilbao 10 11
Malaga 9 5
Mallorca 9 15
Osasuna 13 7
Santander 7 4
Valencia 8 13
Barcelona 1 18
Ath Madrid 12 11
Espanol 12 9
Getafe 10 11
Sevilla 10 10
La Coruna 11 9
Sp Gijon 11 7
Tenerife 15 8
Valladolid 9 4
Villarreal 11 13
Xerez 11 6

In [119]:
data["FTR"][0]

'H'